<div class="container login-container">
    <mat-card>
        <h2 class="sub-heading">Login</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">


            <!-- user name  -->
            <mat-form-field appearance="outline" class="max-100">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="username">
                <mat-error *ngIf="f.username.touched && f.username.errors?.required">Enter Your Name</mat-error>
                <mat-error *ngIf="f.username.errors?.spacesOnly && !f.username.errors?.required ">Error: Only spaces
                    are not allowed</mat-error>
                <mat-error *ngIf="f.username.errors?.invalidInput"> Do Not use special characters</mat-error>
            </mat-form-field>


            <!-- password -->
            <mat-form-field appearance="outline" class="max-100">
                <mat-label>password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.password.errors">
                    <mat-error *ngIf="f.password.errors.required">Enter your Password</mat-error>
                    <mat-error *ngIf="f.password.errors?.spacesOnly && !f.password.errors?.required ">Error:
                        Only spaces
                        are not allowed</mat-error>
                    <mat-error *ngIf="f.password.errors.minlength">Minimum length 8 Digit</mat-error>
                    <mat-error *ngIf="f.password.errors.maxlength">Max length 40 Digit</mat-error>
                    <mat-error *ngIf="f.password.errors.pattern">password must be minimum 8 digit
                        lowercase,uppercase,number andSpecial characters</mat-error>
                </mat-error>
            </mat-form-field>


            <!-- button  -->
            <div class="button-div">
                <p>Not Account? <a routerLink="/account/signup" color="accent">Sign Up</a></p>
                <button mat-flat-button color="primary" type="submit">Login</button>
            </div>
        </form>
    </mat-card>
    <p>kminchelle</p>
    <p>0lelplR</p>
</div>