.table-container ,table{max-width: 1400px;width: 100%;margin: 0 auto;}
.mat-header-cell {font-size: 20px; font-weight: 500;text-transform: capitalize;}
.table-page-button{display: flex;width: 100%;margin: 16px;justify-content: flex-end;}
.max-length{background-color: #ff7474;font-size: 18px;font-weight: 400;}
.min-length{background-color:#b4f0ad ;}
.myTable{overflow: auto;white-space: nowrap;}