<mat-sidenav-container class="side-list">
    <mat-nav-list><a routerLink="/table" class="link" routerLinkActive="active">Table</a></mat-nav-list>
    <mat-nav-list><a routerLink="/list" class="link" routerLinkActive="active">List</a></mat-nav-list>
    <mat-nav-list><a routerLink="/home" class="link" routerLinkActive="active">Home</a></mat-nav-list>
    <mat-nav-list><a routerLink="/user" class="link" routerLinkActive="active">User</a></mat-nav-list>
    <mat-nav-list><a routerLink="/customer" class="link" routerLinkActive="active">Customer</a></mat-nav-list>
    <mat-nav-list><a routerLink="/product" class="link" routerLinkActive="active">Product</a></mat-nav-list>
    <mat-nav-list><a routerLink="/setting" class="link" routerLinkActive="active">Settings</a></mat-nav-list>
</mat-sidenav-container>