<div class="container login-container">
    <mat-card>
        <h2 class="sub-heading">Register</h2>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <!-- First Name  -->
            <mat-form-field appearance="outline" class="max-100">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName">
                <mat-error *ngIf="f.firstName.touched && f.firstName.errors?.required">Enter Your First Name</mat-error>
                <mat-error *ngIf="f.firstName.errors?.spacesOnly && !f.firstName.errors?.required ">Error: Only spaces
                    are not allowed</mat-error>
                <mat-error *ngIf="f.firstName.errors?.invalidInput"> Do Not use special characters</mat-error>
            </mat-form-field>

            <!-- last Name  -->
            <mat-form-field appearance="outline" class="max-100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName">
                <mat-error *ngIf="f.lastName.touched && f.lastName.errors?.required">Enter Your First Name</mat-error>
                <mat-error *ngIf="f.lastName.errors?.spacesOnly && !f.lastName.errors?.required ">Error: Only spaces
                    are not allowed</mat-error>
                <mat-error *ngIf="f.lastName.errors?.invalidInput"> Do Not use special characters</mat-error>
            </mat-form-field>

            <!--  gender  -->
            <div class="radio-group">
                <mat-radio-group aria-label="Select an option" formControlName="gender">
                    <mat-label>Gender :</mat-label>
                    <mat-radio-button value="male" color="primary" class="radio-button">Male</mat-radio-button>
                    <mat-radio-button value="female" color="primary" class="radio-button">Female</mat-radio-button>
                </mat-radio-group>
            </div>
            <!-- user name  -->
            <mat-form-field appearance="outline" class="max-100">
                <mat-label>User Name</mat-label>
                <input matInput formControlName="username">
                <mat-error *ngIf="f.username.touched && f.username.errors?.required">Enter Your Name</mat-error>
                <mat-error *ngIf="f.username.errors?.spacesOnly && !f.username.errors?.required ">Error: Only spaces
                    are not allowed</mat-error>
                <mat-error *ngIf="f.username.errors?.invalidInput"> Do Not use special characters</mat-error>
            </mat-form-field>
            <!-- password -->
            <mat-form-field appearance="outline" class="max-100">
                <mat-label>password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.password.errors">
                    <mat-error *ngIf="f.password.errors.required">Enter your Password</mat-error>
                    <mat-error *ngIf="f.password.errors?.spacesOnly && !f.password.errors?.required ">Error:
                        Only spaces
                        are not allowed</mat-error>
                    <mat-error *ngIf="f.password.errors.minlength">Minimum length 8 Digit</mat-error>
                    <mat-error *ngIf="f.password.errors.maxlength">Max length 40 Digit</mat-error>
                    <mat-error *ngIf="f.password.errors.pattern">password must be minimum 8 digit
                        lowercase,uppercase,number andSpecial characters</mat-error>
                </mat-error>
            </mat-form-field>

            <!-- confirm password  -->
            <mat-form-field appearance="outline" class="max-100">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword">
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="f.confirmPassword.errors">
                    <mat-error *ngIf="f.confirmPassword.errors?.required">Enter your Password</mat-error>
                    <mat-error *ngIf="f.confirmPassword.errors?.spacesOnly && !f.confirmPassword.errors?.required ">Error:
                        Only spaces
                        are not allowed</mat-error>
                    <mat-error *ngIf="f.confirmPassword.errors?.minlength">Minimum length 8 Digit</mat-error>
                    <mat-error *ngIf="f.confirmPassword.errors?.maxlength">Max length 40 Digit</mat-error>
                    <mat-error *ngIf="f.confirmPassword.errors?.pattern">password must be minimum 8 digit
                        lowercase,uppercase,number andSpecial characters</mat-error>
                    <mat-error *ngIf="f.confirmPassword.errors?.confirmedValidator">No Match Password</mat-error>
                </mat-error>
            </mat-form-field>


            <!-- button  -->
            <div class="button-div">
                <p>Already Account? <a routerLink="/account/login" color="accent">Login</a></p>
                <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Signup</button>
            </div>
        </form>
    </mat-card>
</div>