<mat-toolbar color="primary" class="navbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Routing</span>
    <span class="example-spacer">
        <a routerLink="/life-cycle" class="link">life-cycle</a>
        <a routerLink="/table" class="link">Table</a>
        <a routerLink="/list" class="link">list</a>
    </span>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>