<mat-toolbar color="primary" class="navbar">
    <button (click)="toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" class="responsive-btn">
        <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer">
        <!-- <a routerLink="/table" class="link">Table</a>
        <a routerLink="/list" class="link">list</a> -->
    </span>
    <mat-icon matBadge="15" matBadgeColor="warn">notifications</mat-icon>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>